.cask/
elpa/
eshell/
auto-save-list/
image-dired/
thumbs/
url/cookies
ac-comphist.dat
HyperSpec/
emms/
url/
projectile-bookmarks.eld
.python-environments/
ido.last
session*
javadoc*
recentf
.mc-lists.el
ensime/
smex-items
/bookmarks
